<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Floppy WordPress Integration">
			<directory prefix="test-" suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
